*
    box-sizing: border-box
body
    font-family: 'Mulish', sans-serif
    margin: 0
    color: $light
.container
    max-width: 1199px
    margin: auto
.button
    background-color: $yellow
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: $dark
    border: none
    cursor: pointer
.title
    margin: 0 0 50px 0
    padding: 0
    text-align: center
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 49px
    color: $dark
.subtitle
    margin: 0
    font-family: Montserrat
    font-style: normal
    font-weight: 500
    font-size: 25px
    line-height: 30px
    text-align: center
    color: #3B3027
