.header
    background: #3B434E
    &-wrapper
        padding-top: 14px
        padding-bottom: 14px
        display: flex
        align-items: center
        justify-content: space-between
.nav
    &-menu
        min-width: 793px
        list-style: none
        margin: 0
        padding: 0
        display: flex
        align-items: center
        justify-content: space-between
        &__link
            text-decoration: none
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 23px
            color: $light
            margin-left: 18px
            margin-right: 18px
            &:hover
                color: $yellow
                transition: 0.2s linear
