.reviews
  padding-top: 25px
  // background-color: #D7E7FD
  background-image: url(../img/back.jpg)
  background-position: center
  &-slider
    background-color: $light
    max-width: 706px
    box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.2)
    border-radius: 20px
    &__button
      &--prev
        left: 15px
      &--next
        right: 15px
    &__item
      padding-top: 50px
      padding-bottom: 50px
    &__text
      max-width: 630px
      text-align: center
      margin: 0 auto
  &__button
    width: 203px
    height: 58px
    padding: 0
    border-radius: 11px
    margin-top: 20px
    margin-bottom: 20px
    margin-left: 50%
    margin-right: auto
    transform: translate(-50%)
    box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.2)
